<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            background-color: rgb(230, 123, 123);
            width: auto;
            height: 50px;
        }
        li{
            display: inline;
            float: inline-end;
            padding: 10px;
            font-size: 17px;

        }
        .head {
            float: left;
            text-align: center;
        }
        .head {
            float: left;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">
    <ul>
        <b>
        <li><a href="homepage">HOME</a></li>
        <li><a href="adminpage">ADMIN</a></li>
        <li><a href="bloodbankpage">BLOOD BANK</a></li>
        <li><a href="donorpage">DONOR</a></li>

                        <li class="head"><img src="/images/logo.jpg" width="30px" height="30px"></li>
                <li class="head">BLOOD BANK MANAGEMENT</li>
        </b>
    </ul>
    </div>
    <br> <br> <br>

</body>
</html>